<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>listMusic</title>
</head>
<body>
<h3>MUSIC</h3>
<p>
    <a th:href="@{/musics/create}">
        ADD NEW MUSIC
    </a>
</p>

<div class="notify">
    <div th:if="${success}">
        <span th:text="${success}"></span>
    </div>

    <div class="col-lg-6">
        <form class="d-flex" th:action="@{/musics/search}" method="get" style="transform: translateX(380px)">

            <input class="form-control me-2" type="text" placeholder="Tìm kiếm" aria-label="Search" name="name" style="width: 300px">
            <button class="btn btn-outline-success" type="submit">Tìm kiếm</button>
        </form>
    </div>

</div>

<table id = "customers">
    <thead>
    <tr>
        <th>Name</th>
        <th>artist</th>
        <th>musicGenre</th>
        <th>test song</th>
        <th>linkSong</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row,rowStat : ${musics}">
        <td th:text="${row.name}"></td>
        <td th:text="${row.artist}"></td>
        <td th:text="${row.musicGenre}"></td>
        <td th:text="${row.getLinkSong}"></td>
        <td>
            <audio controls>`
                <source th:src="@{'/audio/' + ${row.getLinkSong}}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </td>
        <td><a th:href="@{/musics/{id}/edit(id=${row.getId()})}">edit</a></td>
        <td><a th:href="@{/musics/{id}/delete(id=${row.getId()})}">delete</a></td>
        <td><a th:href="@{/musics/{id}/view(id=${row.getId()})}">view</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>